.peoples {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
  }

  &__content {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      animation: fade-in 500ms forwards;
    }
    &-exit {
      opacity: 0;
    }
    &-exit-active {
      animation: fade-out 500ms forwards;
    }
  }
}
