@font-face {
  font-family: "Star Jedi";
  src: url("../assets/font/Starjedi.ttf");
}

@font-face {
  font-family: "Star Jedi Outlined";
  src: url("../assets/font/Starjout.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-image: url("../assets/img/star-wars-background-2.png");
  background-position: top center;
  background-size: cover;

  font-family: "Star Jedi", sans-serif;
  @include font();
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.loader {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 3px;
}
